<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>flash</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"  
                WIDTH="1024" HEIGHT="768" >  
            <PARAM VALUE="myFlashMovie.swf">  
            <PARAM VALUE=high>  
            <PARAM VALUE=#FFFFFF>  
            <EMBED src="{$flashpath}" quality=high bgcolor=#FFFFFF WIDTH="1024" HEIGHT="768"
                   NAME="myMovieName" ALIGN="" TYPE="application/x-shockwave-flash"  
                   PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">  
            </EMBED>  
        </OBJECT>  
    </body>
</html>
