<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>word 2 flash 演示系统</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>word 2 flash 演示系统</h2>
        <form action="__URL__/upload" enctype="multipart/form-data" method="post" >
            <input type="file" name="word" />
            <input type="submit" value="提交" >
        </form>
    </body>
</html>
